.post {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.post__img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.post__like {
    padding: 10px;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid black;
}
