.user__img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

button:disabled {
    background: black;
    color: white;
    opacity: 0.5;
}
